<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="vue-app">

    <h1>Looping through lists</h1>
    <ul>
        <li v-for="(character,index) in characters">
            {{ index }}. {{ character }}
        </li>
    </ul>
    <ul>
        <li v-for="(ninja,index) in ninjas">
            {{ index+1 }}. {{ ninja.name }} - {{ ninja.age}}
        </li>
    </ul>

    <template v-for="(ninja,index) in ninjas">
        <h3>{{ index }}. {{ ninja.name }}</h3>
        <p>{{ ninja.age}}</p>
    </template>
    <template v-for="ninja in ninjas">
        <div v-for="(val,key) in ninja">
            {{ key}}: {{ val }}
        </div>
    </template>


    <h1>Conditionals</h1>
    <button v-on:click="error = !error">Toggle error</button>
    <button v-on:click="success = !success">Toggle success</button>
    <!--<p v-if="error">There has been an error</p>-->
    <!--<p v-else-if="success">Whooo, success</p>-->
    <p v-show="error">There has been an error</p> <!-- show element with dn -->
    <p v-show="success">Whooo, success</p>
    <h1>Dynamic CSS</h1>
    <h3>Example 1</h3>
    <div v-bind:class="{red:true}"></div>
    <!--<div v-on:click="available = !available" v-bind:class="{available:available}">-->
        <!--<span>Ryu</span>-->
    <!--</div>-->
    <h3>Example 2</h3>
    <button v-on:click="nearby = !nearby">Toggle nearby</button>
    <button v-on:click="available = !available">Toggle nearby</button>
    <div v-bind:class="compClasses">
        <span>Ryu</span>
    </div>
    <h1>Computed Properties</h1>
    <button v-on:click="a++">Add to A</button>
    <button v-on:click="b++">Add to B</button>
    <p> A - {{ a}}</p>
    <p> B - {{ b}}</p>
    <!--<p> Age + A - {{ addToA()}}</p>-->
    <!--<p> Age + B - {{ addToB()}}</p>-->
    <p> Age + A - {{ addToA}}</p>
    <p> Age + B - {{ addToB}}</p>
    <h1>Data binding</h1>
    <label for="">Name</label>
    <input type="text" v-model="name">
    <h4>{{ name }}</h4>
    <label for="">Age</label>
    <input type="text" v-model="age">
    <h4> {{ age }} </h4>

    <h1>Keyboard events</h1>
    <label for="">Name</label>
    <input type="text" v-on:keyup.alt.enter="logName">
    <label for="">Age</label>
    <input type="text" v-on:keyup.alt.enter="logAge">
    <h1>Data and functions</h1>
    <h2>{{ greet("afternnoon") }}</h2>
    <h2> {{ name}} </h2>
    <p> Job {{ job}}</p>

    <h1>Data binding</h1>
    <a v-bind:href="website">web</a>
    <input type="text" v-bind:value="name" />
    <p v-html="websiteTag"></p>

    <h1>Events</h1>
    <button @click.once="add(1)">Add new year</button>
    <button v-on:click="substract(1)">Substract</button>
    <button @dblclick="add(10)">Add 10 year</button>
    <button v-on:dblclick="substract(10)">Substract 10 Yeats</button>
    <p>My age is {{ age }}</p>
    <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
    <a v-on:click.prevent="click" href="http://www.google.pl">Click prevent</a>

</div>

<script src="app.js"></script>
</body>
</html>