<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>


<div id="vue-app-two">
    <h1>Vue CLI</h1>



    <h1>Refs</h1>
    <input type="text" ref="input">
    <button v-on:click="readRefs">Submit</button>
    <p>YOur fav food: {{output}}</p>
    <div ref="test">hello</div>
    <h1>Components</h1>
    <greeting></greeting>
    <h1>Multiple vue instances</h1>

    <h2> {{ title }}</h2>
    <p> {{ greets}}</p>
    <button v-on:click="changeTitle">Change App one Title</button>
</div>

<h1>Simple game</h1>
<div id="vue-app-one">
    <h1>Components</h1>
    <greeting></greeting>
    <h1>Game</h1>
    <h2> {{ title }}</h2>
    <p> {{ greets}}</p>
    <div id="bag" v-bind:class="{burst:ended}"></div>
    <div id="bag-health">
        <div v-bind:style="{ width:health + '%'}"></div>
    </div>
    <div id="controls">
    <button v-on:click="punch()" v-show="!ended">Punch</button>
    <button v-on:click="restart">Restart</button>
    </div>

</div>
<script src="app.js"></script>

</body>
</html>